DOPPLER_SERVICE_TOKEN=
DOPPLER_PROJECT=

DOCKER_USERNAME=
DOCKER_PASSWORD=
VERSION=

DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=

NODE_ENV=

DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=

JWT_SECRET=

BREVO_API_KEY=
BREVO_SENDER_NAME=
BREVO_SENDER_EMAIL=

APPWRITE_ENDPOINT=
APPWRITE_PROJECT_ID=
APPWRITE_API_KEY=
APPWRITE_BUCKET_ID=

STRIPE_SECRET_KEY=
STRIPE_PUBLIC_KEY=

PORT=